{% extends 'clinic/base.html' %}
{% block content %}
  <h1 class="mb-4">Drug Details (ID: {{ drug.drug_id }})</h1>
  <ul class="list-group mb-4">
    <li class="list-group-item"><strong>Name:</strong> {{ drug.drug_name }}</li>
    <li class="list-group-item"><strong>Type:</strong> {{ drug.drug_type }}</li>
    <li class="list-group-item"><strong>Description:</strong> {{ drug.description }}</li>
    <li class="list-group-item"><strong>Dosage Form:</strong> {{ drug.dosage_form }}</li>
    <li class="list-group-item"><strong>Strength:</strong> {{ drug.strength }}</li>
    <li class="list-group-item"><strong>Manufacturer:</strong> {{ drug.manufacturer }}</li>
    <li class="list-group-item"><strong>Interactions:</strong> {{ drug.interactions }}</li>
    <li class="list-group-item"><strong>Contraindications:</strong> {{ drug.contraindications }}</li>
    <li class="list-group-item"><strong>Side Effects:</strong> {{ drug.side_effects }}</li>
    <li class="list-group-item"><strong>Warnings:</strong> {{ drug.warnings }}</li>
  </ul>
  <a class="btn btn-warning" href="{% url 'drug_update' drug.drug_id %}">Edit Drug</a>
  <a class="btn btn-secondary" href="{% url 'drug_list' %}">Back to List</a>
{% endblock %}
